#searchBar {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0;
}

#searchButton {
  height: 29px;
  margin-left: 0;
  position: relative;
  top: -1px;
}

nav > ul > li:last-child {
  width: 25%;
}
